@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./colors.scss";

body {
    background: $primary;
    font-size: 10px;
    font-family: 'Bebas Neue', cursive;
    min-height: 100vh;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}


h3 {
    font-size: 1.6rem;
}